/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
} */

.App {
  text-align: center;
  font-family: 'Garamond';
  background-color: blanchedalmond;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: black;
  font-size: calc(10px + 1vmin);
}

.pageContainer {
  max-width: 90vw
}

.textContainer {
  text-align: left;
  max-width: 100%;
}

.imageArchiveContainer {
  text-align: left;
  width: 80vw;
}

.photoArchiveImg {
  width: 80vw;
}

.photoArchiveCoverImg {
  width: 100%;
  opacity: 0.7;
}

.djsContainer {
  display: inline-block;
  min-width: 80vmin;
  max-width: 80vmin;
}

.djContainer {
  text-align: left;
}

.showImageContainer {
  width: 20vw;
  height: 20vw;
  margin-inline-end: 1em;
  align-self: center;
  float: left;
  opacity: 0.7;
}

.showsContainer {
  max-width: 900px;
}

.newsContainer {
  max-width: 900px;
}

.homeContainer {
  max-width: 900px;
}

.listenContainer {
  width: 80vw;
  max-width:900px;
}

.newsImageContainer {
  min-height: 20vw;
  max-height: 20vw;
  min-width: 20vw;
  max-width: 20vw;
  margin-inline-end: 1em;
  align-self: center;
}

.logoImageContainer {
  width: 50px;
  height: 50px;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  margin-top: 1em;
  align-self: center;
}

.imageLinks:hover {
  background-color: transparent;
}

.growingContainer {
  display: inline-flex;
}

.appHeader {
  display: flex;
  margin-top: 0.5em;
}

.Logo {
  max-height: 10vh;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  animation: spin 5s linear infinite;
}

button {
  background-color: burlywood;
  color: darkred;
  border: none;
  padding: 8px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Garamond';
}

button:hover {
  background-color: black;
  color: darkgoldenrod;
}

.noInteraction {
  pointer-events: none;
}

a{
  color: black;
  padding: 8px;
  text-decoration: none;
}

a:hover {
  color: darkgoldenrod;
  background-color: black;
}

.active {
  color: darkred;
  background-color: burlywood;
}

ul {
  padding: 0;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

form {
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

label span {
  display: inline-block;
  width: 120px;
  text-align: right;
}

input, textarea {
  box-sizing: border-box;
  border: 1px solid #999;
}

label {
  position: relative;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
  vertical-align: top;
  resize: none;
  font-family: 'Garamond';
  font-size: calc(10px + 1vmin);
}

.formButton {
  min-width: 60vmin;
  max-width: 60vmin
}